@import "tailwindcss";

@theme {
  --color-primary: #D30F15;
  --color-primary-hover: #b00c11;
  --color-card-dark: #161616;
  --color-card-lighter: #1e1e1e;
  --font-display: "Anton", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
